#Data Science Tools and Ecosystem

In [8]:
#In this notebook, Data Science Tools and Ecosystem are summarized.

#Objectives:
'pyton','R','Excel'

In [16]:
print("Some of the popular languages that Data Scientists use are:")
order_list=['pyton','R','Excel']
print(order_list)

Some of the popular languages that Data Scientists use are:
['pyton', 'R', 'Excel']

In [20]:
x=["Data Science Tools",
 "Jupyter Notebook",
 "Apache Spark",
 "NumPy"
]

In [26]:
print(x)

['Data Science Tools', 'Jupyter Notebook', 'Apache Spark', 'NumPy']

In [24]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [28]:
import pandas as pd

In [38]:
tablo=pd.DataFrame(data=['Jupyter Notebook', 'Apache Spark', 'NumPy'],index=["a","b","c",],columns=['Data Science Tools'])

In [42]:
print(tablo)

  Data Science Tools
a   Jupyter Notebook
b       Apache Spark
c              NumPy

### Below are a few examples of evaluating arithmetic expressions in Python

In [47]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [49]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

##Author

##Author

## AUTHOR

In [59]:
"Cihan"

'Cihan'